In [1]:

import sys
import csv
import pandas as pd

In [11]:
data = sys.stdin.readlines('tabla')

TypeError: argument should be integer or None, not 'str'

In [7]:
tabla = csv.reader('credit.csv/')
tabla

In [2]:
%%writefile mapper.py

import csv
if __name__ == "__main__":

    for line in csv.reader(sys.stdin.readlines()):
        
        word = line[2]
        
        sys.stdout.write("{}\t1\n".format(word))

Overwriting mapper.py

In [3]:
!chmod +x mapper.py

In [ ]:
!read -r credit.csv | ./mapper.py | head

import-im6.q16: unable to grab mouse `': Recurso no disponible temporalmente @ error/xwindow.c/XSelectWindow/9181.
./mapper.py: 5: ./mapper.py: Syntax error: "(" unexpected

In [ ]:
##
## Esta es la funcion que mapea la entrada a parejas (clave, valor)
##
import sys
import csv

if __name__ == "__main__":

    ##
    ## itera sobre cada linea de codigo recibida
    ## a traves del flujo de entrada
    ##
    for line in sys.stdin:

        ##
        ## genera las tuplas palabra \tabulador 1
        ## ya que es un conteo de palabras
        ##
        for word in line.split():

            ##
            ## escribe al flujo estandar de salida
            ##
            sys.stdout.write("{}\t1\n".format(word))

In [ ]:

if __name__ == '__main__':

    curkey = None
    total = 0

  
    for line in sys.stdin:

        key, val = line.split("\t")
        val = int(val)

        if key == curkey:
         
            total += val
        else:
            ##
            ## Se cambio de clave. Se reinicia el
            ## acumulador.
            ##
            if curkey is not None:
                ##
                ## una vez se han reducido todos los elementos
                ## con la misma clave se imprime el resultado en
                ## el flujo de salida
                ##
                sys.stdout.write("{}\t{}\n".format(curkey, total))

            curkey = key
            total = val

    sys.stdout.write("{}\t{}\n".format(curkey, total))

In [13]:
dato = sys.stdin.readlines()
    for line in csv.reader(dato):

        purpose = line[3]
        ammount = line[4]

        sys.stdout.write("{}\{}\n".format(purpose, ammount))

NameError: name 'head' is not defined

In [4]:
dato= pd.read_csv('credit.csv')

In [5]:
dato

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,property,age,installment_plan,housing,existing_credits,default,dependents,telephone,foreign_worker,job
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,...,real estate,67,none,own,2,1,1,yes,yes,skilled employee
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,...,real estate,22,none,own,1,2,1,none,yes,skilled employee
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,...,real estate,49,none,own,1,1,2,none,yes,unskilled resident
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,...,building society savings,45,none,for free,1,1,2,none,yes,skilled employee
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,...,unknown/none,53,none,for free,2,2,2,none,yes,skilled employee
5,unknown,36,repaid,education,9055,unknown,1 - 4 yrs,2,single male,none,...,unknown/none,35,none,for free,1,1,2,yes,yes,unskilled resident
6,unknown,24,repaid,furniture,2835,501 - 1000 DM,> 7 yrs,3,single male,none,...,building society savings,53,none,own,1,1,1,none,yes,skilled employee
7,1 - 200 DM,36,repaid,car (used),6948,< 100 DM,1 - 4 yrs,2,single male,none,...,other,35,none,rent,1,1,1,yes,yes,mangement self-employed
8,unknown,12,repaid,radio/tv,3059,> 1000 DM,4 - 7 yrs,2,divorced male,none,...,real estate,61,none,own,1,1,1,none,yes,unskilled resident
9,1 - 200 DM,30,critical,car (new),5234,< 100 DM,unemployed,4,married male,none,...,other,28,none,own,2,2,1,none,yes,mangement self-employed
10,1 - 200 DM,12,repaid,car (new),1295,< 100 DM,0 - 1 yrs,3,female,none,...,other,25,none,rent,1,2,1,none,yes,skilled employee
11,< 0 DM,48,repaid,business,4308,< 100 DM,0 - 1 yrs,3,female,none,...,building society savings,24,none,rent,1,2,1,none,yes,skilled employee
12,1 - 200 DM,12,repaid,radio/tv,1567,< 100 DM,1 - 4 yrs,1,female,none,...,other,22,none,own,1,1,1,yes,yes,skilled employee
13,< 0 DM,24,critical,car (new),1199,< 100 DM,> 7 yrs,4,single male,none,...,other,60,none,own,2,2,1,none,yes,unskilled resident
14,< 0 DM,15,repaid,car (new),1403,< 100 DM,1 - 4 yrs,2,female,none,...,other,28,none,rent,1,1,1,none,yes,skilled employee
15,< 0 DM,24,repaid,radio/tv,1282,101 - 500 DM,1 - 4 yrs,4,female,none,...,other,32,none,own,1,2,1,none,yes,unskilled resident
16,unknown,24,critical,radio/tv,2424,unknown,> 7 yrs,4,single male,none,...,building society savings,53,none,own,2,1,1,none,yes,skilled employee
17,< 0 DM,30,fully repaid,business,8072,unknown,0 - 1 yrs,2,single male,none,...,other,25,bank,own,3,1,1,none,yes,skilled employee
18,1 - 200 DM,24,repaid,car (used),12579,< 100 DM,> 7 yrs,4,female,none,...,unknown/none,44,none,for free,1,2,1,yes,yes,mangement self-employed
19,unknown,24,repaid,radio/tv,3430,501 - 1000 DM,> 7 yrs,3,single male,none,...,other,31,none,own,1,1,2,yes,yes,skilled employee
20,unknown,9,critical,car (new),2134,< 100 DM,1 - 4 yrs,4,single male,none,...,other,48,none,own,3,1,1,yes,yes,skilled employee
21,< 0 DM,6,repaid,radio/tv,2647,501 - 1000 DM,1 - 4 yrs,2,single male,none,...,real estate,44,none,rent,1,1,2,none,yes,skilled employee
22,< 0 DM,10,critical,car (new),2241,< 100 DM,0 - 1 yrs,1,single male,none,...,real estate,48,none,rent,2,1,2,none,no,unskilled resident
23,1 - 200 DM,12,critical,car (used),1804,101 - 500 DM,0 - 1 yrs,3,single male,none,...,building society savings,44,none,own,1,1,1,none,yes,skilled employee
24,unknown,10,critical,furniture,2069,unknown,1 - 4 yrs,2,married male,none,...,other,26,none,own,2,1,1,none,no,skilled employee
25,< 0 DM,6,repaid,furniture,1374,< 100 DM,1 - 4 yrs,1,single male,none,...,real estate,36,bank,own,1,1,1,yes,yes,unskilled resident
26,unknown,6,fully repaid,radio/tv,426,< 100 DM,> 7 yrs,4,married male,none,...,other,39,none,own,1,1,1,none,yes,unskilled resident
27,> 200 DM,12,fully repaid this bank,radio/tv,409,> 1000 DM,1 - 4 yrs,3,female,none,...,real estate,42,none,rent,2,1,1,none,yes,skilled employee
28,1 - 200 DM,7,repaid,radio/tv,2415,< 100 DM,1 - 4 yrs,3,single male,guarantor,...,real estate,34,none,own,1,1,1,none,yes,skilled employee
29,< 0 DM,60,delayed,business,6836,< 100 DM,> 7 yrs,3,single male,none,...,unknown/none,63,none,own,2,2,1,yes,yes,skilled employee
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,1 - 200 DM,15,repaid,repairs,1514,101 - 500 DM,1 - 4 yrs,4,single male,guarantor,...,real estate,22,none,own,1,1,1,none,yes,skilled employee
971,unknown,24,repaid,car (new),7393,< 100 DM,1 - 4 yrs,1,single male,none,...,building society savings,43,none,own,1,1,2,none,yes,unskilled resident
972,< 0 DM,24,fully repaid this bank,car (new),1193,< 100 DM,unemployed,1,female,co-applicant,...,unknown/none,29,none,rent,2,2,1,none,yes,unemployed non-resident
973,< 0 DM,60,repaid,business,7297,< 100 DM,> 7 yrs,4,single male,co-applicant,...,unknown/none,36,none,rent,1,2,1,none,yes,skilled employee
974,unknown,30,critical,radio/tv,2831,< 100 DM,1 - 4 yrs,4,female,none,...,other,33,none,own,1,1,1,yes,yes,skilled employee
975,> 200 DM,24,repaid,radio/tv,1258,501 - 1000 DM,1 - 4 yrs,3,female,none,...,other,57,none,own,1,1,1,none,yes,unskilled resident
976,1 - 200 DM,6,repaid,radio/tv,753,< 100 DM,1 - 4 yrs,2,female,guarantor,...,real estate,64,none,own,1,1,1,none,yes,skilled employee
977,1 - 200 DM,18,delayed,business,2427,unknown,> 7 yrs,4,single male,none,...,building society savings,42,none,own,2,1,1,none,yes,skilled employee
978,unknown,24,delayed,car (new),2538,< 100 DM,> 7 yrs,4,single male,none,...,other,47,none,own,2,2,2,none,yes,unskilled resident
979,1 - 200 DM,15,fully repaid this bank,car (new),1264,101 - 500 DM,1 - 4 yrs,2,married male,none,...,building society savings,25,none,rent,1,2,1,none,yes,skilled employee
980,1 - 200 DM,30,critical,furniture,8386,< 100 DM,4 - 7 yrs,2,single male,none,...,building society savings,49,none,own,1,2,1,none,yes,skilled employee
981,unknown,48,repaid,business,4844,< 100 DM,unemployed,3,single male,none,...,other,33,bank,rent,1,2,1,yes,yes,mangement self-employed
982,> 200 DM,21,repaid,car (new),2923,101 - 500 DM,1 - 4 yrs,1,female,none,...,other,28,bank,own,1,1,1,yes,yes,mangement self-employed
983,< 0 DM,36,repaid,car (used),8229,< 100 DM,1 - 4 yrs,2,single male,none,...,building society savings,26,none,own,1,2,2,none,yes,skilled employee
984,unknown,24,critical,furniture,2028,< 100 DM,4 - 7 yrs,2,single male,none,...,building society savings,30,none,own,2,1,1,none,yes,unskilled resident
985,< 0 DM,15,critical,furniture,1433,< 100 DM,1 - 4 yrs,4,female,none,...,building society savings,25,none,rent,2,1,1,none,yes,skilled employee
986,> 200 DM,42,fully repaid,business,6289,< 100 DM,0 - 1 yrs,2,divorced male,none,...,building society savings,33,none,own,2,1,1,none,yes,skilled employee
987,unknown,13,repaid,radio/tv,1409,101 - 500 DM,unemployed,2,female,none,...,real estate,64,none,own,1,1,1,none,yes,skilled employee
988,< 0 DM,24,repaid,car (used),6579,< 100 DM,unemployed,4,single male,none,...,unknown/none,29,none,for free,1,1,1,yes,yes,mangement self-employed
989,1 - 200 DM,24,critical,radio/tv,1743,< 100 DM,> 7 yrs,4,single male,none,...,building society savings,48,none,own,2,1,1,none,yes,unskilled resident
990,unknown,12,critical,education,3565,unknown,0 - 1 yrs,2,single male,none,...,building society savings,37,none,own,2,1,2,none,yes,unskilled resident
991,unknown,15,fully repaid this bank,radio/tv,1569,101 - 500 DM,> 7 yrs,4,single male,none,...,other,34,bank,own,1,1,2,none,yes,unskilled resident
992,< 0 DM,18,repaid,radio/tv,1936,unknown,4 - 7 yrs,2,married male,none,...,other,23,none,rent,2,1,1,none,yes,unskilled resident
993,< 0 DM,36,repaid,furniture,3959,< 100 DM,unemployed,4,single male,none,...,building society savings,30,none,own,1,1,1,yes,yes,mangement self-employed
994,unknown,12,repaid,car (new),2390,unknown,> 7 yrs,4,single male,none,...,other,50,none,own,1,1,1,yes,yes,skilled employee
995,unknown,12,repaid,furniture,1736,< 100 DM,4 - 7 yrs,3,female,none,...,real estate,31,none,own,1,1,1,none,yes,unskilled resident
996,< 0 DM,30,repaid,car (used),3857,< 100 DM,1 - 4 yrs,4,divorced male,none,...,building society savings,40,none,own,1,1,1,yes,yes,mangement self-employed
997,unknown,12,repaid,radio/tv,804,< 100 DM,> 7 yrs,4,single male,none,...,other,38,none,own,1,1,1,none,yes,skilled employee
998,< 0 DM,45,repaid,radio/tv,1845,< 100 DM,1 - 4 yrs,4,single male,none,...,unknown/none,23,none,for free,1,2,1,yes,yes,skilled employee
999,1 - 200 DM,45,critical,car (used),4576,101 - 500 DM,unemployed,3,single male,none,...,other,27,none,own,1,1,1,none,yes,skilled employee